<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lynx.cinerama">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".presentation.CineramaApplication_"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true">

        <activity android:name=".presentation.screens.movie_item.MovieItemActivity_"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".presentation.screens.actor_item.ActorItemActivity_"
                  android:configChanges="orientation|screenSize"/>
        <activity android:name=".presentation.screens.movie_item.info.review_details.ReviewDetailsActivity_"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".presentation.screens.movie_item.info.similar_details.SimilarDetailsActivity_"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".presentation.screens.movie_item.info.fullscreen_poster.FullscreenPosterActivity_"
            android:theme="@style/MyFullscreenAppCompatActivity"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".presentation.screens.gallery.FullscreenImageActivity_"
            android:theme="@style/MyFullscreenAppCompatActivity"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".presentation.screens.movies.MoviesActivity_"
            android:configChanges="orientation|screenSize"/>

    </application>

</manifest>